.td-navbar .navbar-brand__name {
  display: none;
}

@font-face {
    font-family: "Lithos-Black";
    src: url("/fonts/lithosblack.eot");
    src: url("/fonts/lithosblack.eot") format("embedded-opentype"),
         url("/fonts/lithosblack.woff2")format("woff2"),
         url("/fonts/lithosblack.woff")format("woff"),
         url("/fonts/lithosblack.ttf")format("truetype"),
         url("/fonts/lithosblack.svg")format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "superwild";
    src: url("/fonts/superwild.ttf")format("truetype");
    font-weight: normal;
    font-style: normal;
}

.cover-title .display-1 {
    text-align: start;
    text-transform: uppercase;
    font-family: "Lithos-Black", Calibri, Tahoma, sans-serif;
    font-size: calc(100vw * 40%);
}

.cover-title h2 {
    font-size: 2em;
    text-transform: none;
    font-family: "Open Sans";
}

#priceChart {
    min-height: 300px;
}
