{{ $col_id := .Get "color" | default .Ordinal -}}
{{ $height := .Get "height" | default "auto"  -}}
{{ $type   := .Get "type" | default "row" -}}

<div><a id="td-block-{{ .Ordinal }}" class="td-offset-anchor"></a></div>
<section class="row td-box td-box--{{ $col_id }} td-box--height-{{ $height }}">
<h1 class="h1 text-center">
  {{- .Get "title" | markdownify -}}
</h1>
<h4 class="h4 text-center">
  {{- .Get "subtitle" | markdownify -}}
</h4>
<br/>
<br/>
<br/>
<div class="col">
<div class="{{ $type }}">
  {{/* Do NOT remove this comment! It ends the HTML block above. See https://spec.commonmark.org/0.30/#html-blocks, 7. */}}
{{ .Inner -}}
</div>
</div>
<br/><br/>
<h7 class="h7 text-center">
  {{- .Get "footer" | markdownify -}}
</h7>
</section>
{{/**/ -}}
