<div class="row">
  <div class="col-2">
    <input type="range" class="form-range" id="vCpuInput" min="0" max="100" value="75">
    <br/>
    <br/>
    <input type="range" class="form-range" id="memoryInput" min="0" max="100">
    <br/>
    <br/>
    <input type="range" class="form-range" id="storageInput" min="0" max="100">
  </div>
  <div class="col-2">
    <span id="vCpuValue">75</span> vCPUs
    <br/>
    <br/>
    <span id="memoryValue">50</span> GB Memory
    <br/>
    <br/>
    <span id="storageValue">50</span> GB Block Storage
  </div>
  <div class="col-8">
    <canvas id="priceChart"></canvas>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>

<script>
  class Provider {
      // Private Fields
      static #_KOWABUNGA = 0;
      static #_AZURE = 1;
      static #_AMAZON = 2;
      static #_GOOGLE = 3;

      // Accessors for "get" functions only (no "set" functions)
      static get KOWABUNGA() { return this.#_KOWABUNGA; }
      static get AZURE() { return this.#_AZURE; }
      static get AMAZON() { return this.#_AMAZON; }
      static get GOOGLE() { return this.#_GOOGLE; }
  }

  class Sku {
      // Private Fields
      static #_VCPU = 0;
      static #_MEM = 1;
      static #_STORAGE = 2;

      // Accessors for "get" functions only (no "set" functions)
      static get VCPU() { return this.#_VCPU; }
      static get MEM() { return this.#_MEM; }
      static get STORAGE() { return this.#_STORAGE; }
  }

  const priceList = [
      // monthly unit prices
      [2.599, 0.262, 0.041],
      [2, 4, 0.1],
      [15.15, 3.579, 0.094],
      [4, 4, 0.1],
  ]

  const vCpuInput = document.getElementById('vCpuInput');
  const vCpuValue = document.getElementById('vCpuValue');

  vCpuInput.addEventListener('input', function () {
      vCpuValue.textContent = vCpuInput.value;
      updateAllPrices();
  });

  const memoryInput = document.getElementById('memoryInput');
  const memoryValue = document.getElementById('memoryValue');

  memoryInput.addEventListener('input', function () {
      memoryValue.textContent = memoryInput.value;
      updateAllPrices();
  });

  const storageInput = document.getElementById('storageInput');
  const storageValue = document.getElementById('storageValue');

  storageInput.addEventListener('input', function () {
      storageValue.textContent = storageInput.value;
      updateAllPrices();
  });

  var kowabungaImage = new Image();
  kowabungaImage.src = '/images/cost-kowabunga-logo.png';

  var azureImage = new Image();
  azureImage.src = '/images/cost-azure-logo.png';

  var awsImage = new Image();
  awsImage.src = '/images/cost-aws-logo.png';

  var gcpImage = new Image();
  gcpImage.src = '/images/cost-gcp-logo.png';

  function updatePrice(idx) {
      var price = 0.0;
      price += vCpuInput.value * priceList[idx][Sku.VCPU];
      price += memoryInput.value * priceList[idx][Sku.MEM];
      price += storageInput.value * priceList[idx][Sku.STORAGE];
      priceChart.data.datasets[idx].data = [Math.floor(price * 12)];
  }

  function updateAllPrices() {
      var providers = [Provider.KOWABUNGA, Provider.AZURE, Provider.AMAZON, Provider.GOOGLE];
      for (var idx in providers) {
          updatePrice(idx);
      }
      priceChart.update();
  }

  const ctx = document.getElementById('priceChart');
  var priceChart = new Chart(ctx, {
      type: 'bar',
      plugins: [ChartDataLabels],
      data: {
          labels: [''],
          datasets: [
              {
                  label: 'Kowabunga',
                  data: [0],
                  borderWidth: 1,
                  borderRadius: 5,
                  barPercentage: 0.4,
                  borderColor: 'rgba(116, 196, 100, 1)',
                  backgroundColor: 'rgba(116, 196, 100, 1)',
                  pointStyle: kowabungaImage,
              },
              {
                  label: 'Azure',
                  data: [19],
                  borderWidth: 1,
                  borderRadius: 5,
                  barPercentage: 0.4,
                  borderColor: 'rgba(76, 141, 227, 1)',
                  backgroundColor: 'rgba(76, 141, 227, 1)',
                  pointStyle: azureImage,
              },
              {
                  label: 'Amazon',
                  data: [3],
                  borderWidth: 1,
                  borderRadius: 5,
                  barPercentage: 0.4,
                  borderColor: 'rgba(244, 181, 63, 1)',
                  backgroundColor: 'rgba(244, 181, 63, 1)',
                  pointStyle: awsImage,

              },
              {
                  label: 'Google',
                  data: [5],
                  borderWidth: 1,
                  borderRadius: 5,
                  barPercentage: 0.4,
                  borderColor: 'rgba(222, 84, 52, 1)',
                  backgroundColor: 'rgba(222, 84, 52, 1)',
                  pointStyle: gcpImage,
              },

          ]
      },
      options: {
          reponsive: true,
          plugins: {
              legend: {
                  position: 'bottom',
                  labels: {
                      usePointStyle: true,
                      // maybe switch to https://www.chartjs.org/docs/latest/samples/legend/html.html
                  },
              },
              title: {
                  display: false,
              },
              tooltip: {
                  intersect: true
              },
              datalabels: {
                  align: 'top',
                  anchor: 'end',
                  backgroundColor: 'rgba(209, 210, 211, 1)',
                  borderWidth: 1,
                  borderRadius: 5,
                  clip: false,
                  formatter: function(value, context) {
                      return value + ' $/y';
                  }
              }
          },
          scales: {
              y: {
                  beginAtZero: true
              }
          },
          layout: {
              padding: 0
          }
      }
  });
  updateAllPrices();
</script>
