<div class="row justify-content-start">
  <div class="col-6">
    HELLO WORLD
  </div>
  <div class="col-6">
    <canvas id="myChart"></canvas>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>

<script>
  const ctx = document.getElementById('myChart');

  var kowabungaImage = new Image();
  kowabungaImage.src = '/images/cost-kowabunga-logo.png';

  var azureImage = new Image();
  azureImage.src = '/images/cost-azure-logo.png';

  var awsImage = new Image();
  awsImage.src = '/images/cost-aws-logo.png';

  var gcpImage = new Image();
  gcpImage.src = '/images/cost-gcp-logo.png';

  new Chart(ctx, {
      type: 'bar',
      plugins: [ChartDataLabels],
      data: {
          labels: [''],
          datasets: [
              {
                  label: 'Kowabunga',
                  data: [12],
                  borderWidth: 1,
                  borderRadius: 5,
                  barPercentage: 0.4,
                  borderColor: 'rgba(116, 196, 100, 1)',
                  backgroundColor: 'rgba(116, 196, 100, 1)',
                  pointStyle: kowabungaImage,
              },
              {
                  label: 'Azure',
                  data: [19],
                  borderWidth: 1,
                  borderRadius: 5,
                  barPercentage: 0.4,
                  borderColor: 'rgba(76, 141, 227, 1)',
                  backgroundColor: 'rgba(76, 141, 227, 1)',
                  pointStyle: azureImage,
              },
              {
                  label: 'Amazon',
                  data: [3],
                  borderWidth: 1,
                  borderRadius: 5,
                  barPercentage: 0.4,
                  borderColor: 'rgba(244, 181, 63, 1)',
                  backgroundColor: 'rgba(244, 181, 63, 1)',
                  pointStyle: awsImage,

              },
              {
                  label: 'Google',
                  data: [5],
                  borderWidth: 1,
                  borderRadius: 5,
                  barPercentage: 0.4,
                  borderColor: 'rgba(222, 84, 52, 1)',
                  backgroundColor: 'rgba(222, 84, 52, 1)',
                  pointStyle: gcpImage,
              },

          ]
      },
      options: {
          reponsive: true,
          plugins: {
              legend: {
                  position: 'bottom',
                  labels: {
                      usePointStyle: true,
                      padding: 10,
                      // maybe switch to https://www.chartjs.org/docs/latest/samples/legend/html.html
                  },
              },
              title: {
                  display: false,
              },
              tooltip: {
                  intersect: true
              },
              datalabels: {
                  align: 'top',
                  anchor: 'end',
                  backgroundColor: 'rgba(209, 210, 211, 1)',
                  borderWidth: 1,
                  borderRadius: 5,
                  clip: false,
                  formatter: function(value, context) {
                      return value + ' $/y';
                  }
              }
          },
          scales: {
              y: {
                  beginAtZero: true
              }
          },
          layout: {
              padding: 0
          }
      }
  });
</script>
